*{
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

body{
    background: #eee;
}

.wrapper{
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.flex-container{
    display: flex;
    background: #fff;
    flex-wrap: wrap-reverse;
    /* flex-flow: row; */
    flex-flow: column;
    flex-flow: row;
    flex-flow: column;
    justify-content: center;
    /* Main Axis */
    align-items: center;
    /* Cross Axis */
    height: 800px;
}

/* .flex-container:after{
    content: "";
    display: block;
    clear: both;
} */

.box{
    /* height: 100px; */
    width: 100px;
    /* min-width: 200px; */
    /* flex-basis: 500px; */
    /* float: left; */
    /* flex-grow: 1; */ 
    /* flex-grow: Chiếm phần còn lại , tăng nhờ không gian có sẵn :v ; */
    /* flex-shrink: Xác định thứ tự khi trình duyệt co lại, số càng to
        thì là càng biến mất trước
    */
    /* flex-wrap: Khi thu nhỏ sẽ bao bọc phần nội dung bên trong, khi thu nhỏ
    đến giới hạn width của tp con sẽ xuống dòng, đặt ở tp cha
    */
    /* flex-basis: giống min-width nhưng khi nhỏ lại hạn chế min-width là
    phải cuộn lại xem all yếu tố khi đạt chiều rộng tối thiểu
    */
    /* width: 240px; */
    /* flex-grow: 1; */
    flex: 0 0 100px;
    /* grow shirk basis */
    /* flex-flow: Axis: trục, row: trục chính nằm ngang, column: trục chính dọc
        1 số thuộc tính chỉ đc sd ở trục chính :D VD justify-content: ;
    */
}

.box-1{
    background: red;
    /* flex-grow: 3;
    flex-shrink: 1; */
    order: 1;
}

.box-2{
    background: rgb(43, 167, 125);
    /* flex-grow: 1;
    flex-shrink: 5; */
    order: 2;
}

.box-3{
    background: rgb(212, 85, 185);
    /* flex-grow: 1;
    flex-shrink: 5; */
    order: 0;
}

.box-4{
    background: rgb(160, 190, 52);
    /* flex-grow: 3;
    flex-shrink: 6; */
    order: 0;
}

/* Order cao đứng cuối */